In [11]:
import pandas as pd
import numpy as np
import re
import string

from collections import Counter
from nltk.corpus import stopwords

from keras_preprocessing import text

from itertools import groupby

from tqdm.autonotebook import tqdm

pd.set_option('display.max_colwidth', -1)

/usr/local/anaconda3/lib/python3.7/site-packages/tqdm/autonotebook/__init__.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  " (e.g. in jupyter console)", TqdmExperimentalWarning)

In [2]:
pos_df = pd.read_csv("Datasets/twitter-datasets/train_pos_full.txt", delimiter="\\n", header=None, 
                     names = ["tweets"], engine='python')
neg_df = pd.read_csv("Datasets/twitter-datasets/train_neg_full.txt", delimiter="\\n", header=None,
                     names = ["tweets"], engine='python')

In [3]:
test_df = pd.read_csv("Datasets/twitter-datasets/test_data.txt", delimiter="\\n", header=None,
                     names = ["tweets"], engine='python')
test_df = pd.DataFrame(test_df.tweets.str.split(',',1).tolist(), columns = ['id','tweets'])

In [4]:
pos_df['label'] = 1
neg_df['label'] = 0

Remove numbers

In [5]:
pos_df.tweets = pos_df.tweets.str.replace('\d+', '')
neg_df.tweets = neg_df.tweets.str.replace('\d+', '')
test_df.tweets = test_df.tweets.str.replace('\d+', '')

Remove `<user>`

In [6]:
pos_df.tweets = pos_df.tweets.str.replace("<user>", "")
neg_df.tweets = neg_df.tweets.str.replace("<user>", "")
test_df.tweets = test_df.tweets.str.replace("<user>", "")

Remove `<url>`

In [7]:
pos_df.tweets = pos_df.tweets.str.replace("<url>", "")
neg_df.tweets = neg_df.tweets.str.replace("<url>", "")
test_df.tweets = test_df.tweets.str.replace("<url>", "")

In [9]:
pos_df.head()

                                              tweets  label
0   i dunno justin read my mention or not . only ...      1
1  because your logic is so dumb , i won't even c...      1
2  "  just put casper in a box ! " looved the bat...      1
3    thanks sir > > don't trip lil mama ... just ...      1
4  visiting my brother tmr is the bestest birthda...      1

Remove punctuation

In [12]:
pos_df.tweets = pos_df.tweets.str.translate(str.maketrans('', '', string.punctuation.replace('#','')))
neg_df.tweets = neg_df.tweets.str.translate(str.maketrans('', '', string.punctuation.replace('#','')))
test_df.tweets = test_df.tweets.str.translate(str.maketrans('', '', string.punctuation.replace('#','')))

In [15]:
pos_df.head()

,tweets,label
0,i dunno justin read my mention or not only justin and god knows about that but i hope you will follow me #believe,1
1,because your logic is so dumb i wont even crop out your name or your photo tsk,1
2,just put casper in a box looved the battle #crakkbitch,1
3,thanks sir dont trip lil mama just keep doin ya thang,1
4,visiting my brother tmr is the bestest birthday gift eveerrr,1

In [16]:
results_pos = Counter()
pos_df.tweets.str.lower().str.split().apply(results_pos.update)
results_neg = Counter()
neg_df.tweets.str.lower().str.split().apply(results_neg.update)

0          None
1          None
2          None
3          None
4          None
5          None
6          None
7          None
8          None
9          None
10         None
11         None
12         None
13         None
14         None
15         None
16         None
17         None
18         None
19         None
20         None
21         None
22         None
23         None
24         None
25         None
26         None
27         None
28         None
29         None
           ...
1249970    None
1249971    None
1249972    None
1249973    None
1249974    None
1249975    None
1249976    None
1249977    None
1249978    None
1249979    None
1249980    None
1249981    None
1249982    None
1249983    None
1249984    None
1249985    None
1249986    None
1249987    None
1249988    None
1249989    None
1249990    None
1249991    None
1249992    None
1249993    None
1249994    None
1249995    None
1249996    None
1249997    None
1249998    None
1249999    None
Name: tweets, Length: 1250000, dtype: object

In [39]:
count_pos = results_pos.most_common(5000)
count_neg = results_neg.most_common(5000)

dict_count_pos = dict(count_pos)
dict_count_neg = dict(count_neg)

both = dict_count_pos.keys() & (dict_count_neg.keys())

count_total = [(word, dict_count_pos[word]+dict_count_neg[word]) for word in both]
dict_both = dict(count_total)

In [40]:
pos_90 = [(word, dict_count_pos[word]) for word in both if 100*dict_count_pos[word]/dict_both[word]>90]
neg_90 = [(word, dict_count_neg[word]) for word in both if 100*dict_count_neg[word]/dict_both[word]>90]

In [41]:
pos_90

[('thank', 36670),
 ('goodmorning', 2540),
 ('thanks', 62337),
 ('thankyou', 4418),
 ('congrats', 3488),
 ('shoutout', 6033)]

In [42]:
neg_90

[('digital', 6435),
 ('co', 2252),
 ('series', 14385),
 ('technology', 2499),
 ('headache', 2831),
 ('large', 4193),
 ('print', 3650),
 ('product', 5271),
 ('inch', 9441),
 ('classic', 5530),
 ('system', 3996),
 ('mb', 6945),
 ('professional', 1794),
 ('design', 4414),
 ('collection', 5022),
 ('throat', 2566),
 ('silver', 5361),
 ('cd', 13578),
 ('kit', 10439),
 ('health', 6076),
 ('gb', 11486),
 ('edition', 22579),
 ('cap', 1862),
 ('guide', 9125),
 ('brand', 8899),
 ('japanese', 1964),
 ('cried', 3409),
 ('ap', 1891),
 ('screen', 5161),
 ('cell', 3775),
 ('sports', 4703),
 ('studies', 2349),
 ('kindle', 9346),
 ('memory', 9868),
 ('pro', 4083),
 ('volume', 4172),
 ('toy', 5171),
 ('screw', 2974),
 ('size', 6600),
 ('mah', 5945),
 ('oz', 6958),
 ('dvd', 14668),
 ('mobile', 2899),
 ('pack', 31995),
 ('kitchen', 4877),
 ('mm', 5315),
 ('pc', 8871),
 ('battery', 10358),
 ('fits', 2882),
 ('metal', 1687),
 ('ca', 1672),
 ('sad', 24209),
 ('poster', 26372),
 ('black', 32352),
 ('hurts', 5617),
 ('reference', 1467),
 ('laptop', 8801),
 ('wood', 13521),
 ('wide', 27148),
 ('complete', 31269),
 ('cherry', 2532),
 ('market', 3650)]

In [43]:
pos_80_90 = [(word, dict_count_pos[word]) for word in both if ((100*dict_count_pos[word]/dict_both[word]>80) & (100*dict_count_pos[word]/dict_both[word]<=90))]
neg_80_90 = [(word, dict_count_neg[word]) for word in both if ((100*dict_count_neg[word]/dict_both[word]>80) & (100*dict_count_neg[word]/dict_both[word]<=90))]

In [44]:
pos_80_90

[('hehehe', 1303),
 ('pussy', 1322),
 ('glad', 8093),
 ('goodnight', 4806),
 ('happy', 31629),
 ('xoxo', 2003),
 ('lovely', 5848),
 ('retweet', 5151),
 ('excited', 8302),
 ('yay', 5265),
 ('directioners', 1553),
 ('following', 13919),
 ('hey', 22355),
 ('goood', 1553),
 ('smile', 10834),
 ('proud', 5693),
 ('followback', 1326),
 ('wonderful', 2835),
 ('spread', 1138),
 ('vote', 2328),
 ('shout', 3782),
 ('awesome', 10923),
 ('welcome', 7195),
 ('follower', 2275),
 ('hehe', 6099),
 ('kissing', 1254),
 ('birthday', 19452),
 ('enjoyed', 1279),
 ('appreciate', 2498)]

In [45]:
neg_80_90

[('china', 919),
 ('accident', 710),
 ('sadly', 1557),
 ('tape', 1472),
 ('broke', 3243),
 ('gr', 1111),
 ('badly', 1321),
 ('worse', 2359),
 ('heavy', 1666),
 ('bags', 1990),
 ('feet', 4140),
 ('blackberry', 1206),
 ('awful', 1335),
 ('foods', 786),
 ('however', 1621),
 ('science', 2865),
 ('toe', 713),
 ('died', 3437),
 ('lg', 1256),
 ('press', 3251),
 ('net', 716),
 ('multiple', 982),
 ('flash', 1680),
 ('olive', 656),
 ('killing', 2164),
 ('g', 8864),
 ('map', 1167),
 ('oil', 1656),
 ('lifetime', 1209),
 ('sales', 951),
 ('sore', 2314),
 ('ash', 1693),
 ('shoe', 1051),
 ('calendar', 662),
 ('mountain', 897),
 ('dragon', 760),
 ('information', 1604),
 ('web', 1608),
 ('case', 12919),
 ('research', 1350),
 ('camera', 5941),
 ('pocket', 1929),
 ('current', 1385),
 ('value', 1339),
 ('mouse', 1178),
 ('windows', 1179),
 ('entertainment', 784),
 ('foot', 1774),
 ('parts', 1798),
 ('written', 2812),
 ('broken', 1846),
 ('style', 3925),
 ('smooth', 2239),
 ('limited', 1336),
 ('release', 3858),
 ('pain', 4551),
 ('legal', 1088),
 ('usa', 1638),
 ('york', 2535),
 ('war', 2658),
 ('rose', 2363),
 ('ipad', 3127),
 ('apple', 4134),
 ('card', 4040),
 ('colors', 1695),
 ('package', 1764),
 ('loss', 1077),
 ('feat', 847),
 ('law', 2049),
 ('h', 5502),
 ('m', 14961),
 ('picture', 28901),
 ('plate', 1016),
 ('material', 632),
 ('messed', 737),
 ('hurting', 1377),
 ('shoulder', 1616),
 ('united', 1005),
 ('depressed', 1526),
 ('fo', 1144),
 ('leading', 795),
 ('cold', 6532),
 ('power', 5703),
 ('books', 3429),
 ('unfortunately', 1328),
 ('speed', 1313),
 ('solid', 1371),
 ('via', 11132),
 ('products', 1474),
 ('male', 1615),
 ('wheel', 954),
 ('book', 14952),
 ('robert', 709),
 ('comfort', 1120),
 ('tx', 694),
 ('states', 868),
 ('international', 1981),
 ('adult', 1091),
 ('beauty', 5091),
 ('clark', 868),
 ('pound', 850),
 ('fully', 1520),
 ('wall', 3695),
 ('bk', 2011),
 ('keyboard', 1027),
 ('presents', 1121),
 ('tears', 2496),
 ('green', 5481),
 ('feature', 892),
 ('iron', 1057),
 ('sucks', 6255),
 ('yellow', 2980),
 ('ink', 1454),
 ('management', 1234),
 ('raw', 1106),
 ('pin', 1776),
 ('stomach', 2065),
 ('original', 3309),
 ('soft', 2103),
 ('dc', 1449),
 ('wind', 1210),
 ('switch', 1114),
 ('skin', 4988),
 ('ipod', 5810),
 ('american', 5003),
 ('pe', 828),
 ('gold', 4939),
 ('tee', 1005),
 ('bars', 764),
 ('auto', 711),
 ('adventures', 1069),
 ('box', 4395),
 ('popular', 1744),
 ('fm', 818),
 ('charlie', 1465),
 ('debut', 822),
 ('pieces', 1261),
 ('poor', 5416),
 ('sets', 701),
 ('fever', 772),
 ('diamond', 1362),
 ('extreme', 852),
 ('security', 1348),
 ('computer', 3021),
 ('bible', 1616),
 ('ugh', 6700),
 ('wars', 920),
 ('amazon', 1488),
 ('ouch', 779),
 ('jobs', 1202),
 ('sick', 8854),
 ('jacket', 1400),
 ('ft', 3242),
 ('duty', 960),
 ('hate', 21812),
 ('network', 1507),
 ('image', 1122),
 ('dia', 741),
 ('costume', 1420),
 ('nike', 766),
 ('dark', 4805),
 ('thin', 839),
 ('emotional', 1206),
 ('university', 1658),
 ('bottles', 1079),
 ('stories', 3039),
 ('brown', 8417),
 ('included', 1229),
 ('deck', 712),
 ('brazilian', 1025),
 ('pr', 1296),
 ('source', 761),
 ('art', 4301),
 ('sigh', 2488),
 ('worst', 5065),
 ('hospital', 2028),
 ('tech', 1029),
 ('mini', 2602),
 ('blue', 8115),
 ('pair', 3394),
 ('flat', 2422),
 ('winter', 924),
 ('salt', 713),
 ('spray', 1049),
 ('america', 2689),
 ('logo', 914),
 ('cry', 9763),
 ('master', 1363),
 ('sold', 2989),
 ('southern', 1566),
 ('white', 14243),
 ('natural', 3455),
 ('history', 4881),
 ('dr', 1716),
 ('charger', 2578),
 ('pet', 1729),
 ('stock', 935),
 ('nooo', 5025),
 ('rich', 1692),
 ('romance', 755),
 ('wa', 703),
 ('board', 2112),
 ('horrible', 2909),
 ('library', 2999),
 ('crying', 6121),
 ('base', 741),
 ('ruined', 1126),
 ('built', 704),
 ('pt', 615),
 ('lonely', 2248),
 ('shipping', 789),
 ('per', 1786),
 ('bean', 625),
 ('v', 7018),
 ('quality', 3968),
 ('death', 2803),
 ('rip', 2132),
 ('adventure', 1379),
 ('empty', 943),
 ('missing', 5410),
 ('upset', 2905),
 ('color', 4751),
 ('machine', 1304),
 ('control', 2098),
 ('wah', 1480),
 ('clear', 3434),
 ('breaks', 789),
 ('disappointed', 1194),
 ('count', 4345),
 ('ii', 2660),
 ('se', 960),
 ('thomas', 906),
 ('afford', 715),
 ('river', 1334),
 ('edge', 1133),
 ('travel', 3415),
 ('based', 1272),
 ('tummy', 1243),
 ('set', 15780),
 ('powerful', 903),
 ('models', 946)]

In [46]:
pos_70_80 = [(word, dict_count_pos[word]) for word in both if ((100*dict_count_pos[word]/dict_both[word]>70) & (100*dict_count_pos[word]/dict_both[word]<80))]
neg_70_80 = [(word, dict_count_neg[word]) for word in both if ((100*dict_count_neg[word]/dict_both[word]>70) & (100*dict_count_neg[word]/dict_both[word]<=80))]

In [47]:
pos_70_80

[('bday', 3439),
 ('unless', 1491),
 ('yup', 1783),
 ('checking', 733),
 ('luck', 6047),
 ('ahah', 884),
 ('surprise', 1183),
 ('aye', 957),
 ('good', 72422),
 ('check', 7301),
 ('#thoughtsduringschool', 1447),
 ('beautiful', 14209),
 ('trend', 1845),
 ('hahaa', 843),
 ('hah', 830),
 ('sharing', 936),
 ('marry', 1123),
 ('sure', 13298),
 ('alll', 2412),
 ('lls', 924),
 ('interested', 749),
 ('cool', 10291),
 ('kay', 720),
 ('laugh', 4161),
 ('ya', 10385),
 ('hi', 11714),
 ('selena', 1203),
 ('lemme', 752),
 ('tune', 666),
 ('ha', 5376),
 ('agree', 2373),
 ('hello', 5281),
 ('anytime', 1481),
 ('amazing', 15384),
 ('#np', 920),
 ('loving', 2546),
 ('yesss', 1856),
 ('singer', 1307),
 ('followers', 9231),
 ('surf', 706),
 ('hoes', 1022),
 ('girlfriend', 3290),
 ('btw', 4071),
 ('aha', 2861),
 ('#teamfollowback', 1620),
 ('chilling', 747),
 ('lets', 9335),
 ('niggas', 1004),
 ('fave', 729),
 ('jk', 2297),
 ('relax', 768),
 ('trending', 2262),
 ('funny', 7606),
 ('freak', 782),
 ('yah', 686),
 ('weed', 1424),
 ('alright', 3473),
 ('ladies', 2143),
 ('follow', 71161),
 ('follows', 2273),
 ('liam', 6405),
 ('yours', 4015),
 ('interesting', 1540),
 ('loves', 4142),
 ('nice', 18831),
 ('sometime', 1057),
 ('mmm', 1589),
 ('haha', 43145),
 ('sweet', 7498),
 ('worry', 4154),
 ('youu', 2477),
 ('obviously', 1164),
 ('youre', 26646),
 ('gorgeous', 2645),
 ('ahaha', 1603),
 ('fantastic', 1132),
 ('hows', 2075),
 ('smell', 1602),
 ('mention', 2296),
 ('fav', 1501),
 ('cutest', 1168),
 ('finally', 8067),
 ('hun', 3071),
 ('sounds', 4331),
 ('bitches', 2005),
 ('cute', 13584),
 ('avi', 1953),
 ('followed', 5348),
 ('course', 5747),
 ('conversations', 783),
 ('ooh', 924),
 ('yeahh', 1104),
 ('hahaha', 12380),
 ('umm', 681),
 ('info', 1275),
 ('luv', 1531),
 ('yall', 5981),
 ('enjoy', 6013),
 ('pretty', 12606),
 ('lips', 1226),
 ('bless', 2446),
 ('beliebers', 1004),
 ('adorable', 1508),
 ('whoever', 656),
 ('yep', 2126),
 ('kisses', 960),
 ('wishes', 771),
 ('shall', 2601),
 ('great', 22588),
 ('hahah', 3714),
 ('lots', 3287),
 ('love', 90924),
 ('yeahhh', 792),
 ('pleasure', 1069),
 ('sweetie', 1113),
 ('hoe', 1449),
 ('pic', 4569),
 ('oooh', 1078),
 ('handsome', 981),
 ('hilarious', 1100),
 ('zayn', 2964),
 ('yess', 1329),
 ('xx', 24525),
 ('sexy', 5823),
 ('yes', 18216),
 ('worth', 2652),
 ('heres', 2389),
 ('enjoying', 1340),
 ('indeed', 1090),
 ('xo', 1998),
 ('lookin', 959),
 ('positive', 1191)]

In [51]:
positive = pos_70_80 + pos_90
negative = neg_70_80 + neg_90

In [52]:
positive

[('bday', 3439),
 ('unless', 1491),
 ('yup', 1783),
 ('checking', 733),
 ('luck', 6047),
 ('ahah', 884),
 ('surprise', 1183),
 ('aye', 957),
 ('good', 72422),
 ('check', 7301),
 ('#thoughtsduringschool', 1447),
 ('beautiful', 14209),
 ('trend', 1845),
 ('hahaa', 843),
 ('hah', 830),
 ('sharing', 936),
 ('marry', 1123),
 ('sure', 13298),
 ('alll', 2412),
 ('lls', 924),
 ('interested', 749),
 ('cool', 10291),
 ('kay', 720),
 ('laugh', 4161),
 ('ya', 10385),
 ('hi', 11714),
 ('selena', 1203),
 ('lemme', 752),
 ('tune', 666),
 ('ha', 5376),
 ('agree', 2373),
 ('hello', 5281),
 ('anytime', 1481),
 ('amazing', 15384),
 ('#np', 920),
 ('loving', 2546),
 ('yesss', 1856),
 ('singer', 1307),
 ('followers', 9231),
 ('surf', 706),
 ('hoes', 1022),
 ('girlfriend', 3290),
 ('btw', 4071),
 ('aha', 2861),
 ('#teamfollowback', 1620),
 ('chilling', 747),
 ('lets', 9335),
 ('niggas', 1004),
 ('fave', 729),
 ('jk', 2297),
 ('relax', 768),
 ('trending', 2262),
 ('funny', 7606),
 ('freak', 782),
 ('yah', 686),
 ('weed', 1424),
 ('alright', 3473),
 ('ladies', 2143),
 ('follow', 71161),
 ('follows', 2273),
 ('liam', 6405),
 ('yours', 4015),
 ('interesting', 1540),
 ('loves', 4142),
 ('nice', 18831),
 ('sometime', 1057),
 ('mmm', 1589),
 ('haha', 43145),
 ('sweet', 7498),
 ('worry', 4154),
 ('youu', 2477),
 ('obviously', 1164),
 ('youre', 26646),
 ('gorgeous', 2645),
 ('ahaha', 1603),
 ('fantastic', 1132),
 ('hows', 2075),
 ('smell', 1602),
 ('mention', 2296),
 ('fav', 1501),
 ('cutest', 1168),
 ('finally', 8067),
 ('hun', 3071),
 ('sounds', 4331),
 ('bitches', 2005),
 ('cute', 13584),
 ('avi', 1953),
 ('followed', 5348),
 ('course', 5747),
 ('conversations', 783),
 ('ooh', 924),
 ('yeahh', 1104),
 ('hahaha', 12380),
 ('umm', 681),
 ('info', 1275),
 ('luv', 1531),
 ('yall', 5981),
 ('enjoy', 6013),
 ('pretty', 12606),
 ('lips', 1226),
 ('bless', 2446),
 ('beliebers', 1004),
 ('adorable', 1508),
 ('whoever', 656),
 ('yep', 2126),
 ('kisses', 960),
 ('wishes', 771),
 ('shall', 2601),
 ('great', 22588),
 ('hahah', 3714),
 ('lots', 3287),
 ('love', 90924),
 ('yeahhh', 792),
 ('pleasure', 1069),
 ('sweetie', 1113),
 ('hoe', 1449),
 ('pic', 4569),
 ('oooh', 1078),
 ('handsome', 981),
 ('hilarious', 1100),
 ('zayn', 2964),
 ('yess', 1329),
 ('xx', 24525),
 ('sexy', 5823),
 ('yes', 18216),
 ('worth', 2652),
 ('heres', 2389),
 ('enjoying', 1340),
 ('indeed', 1090),
 ('xo', 1998),
 ('lookin', 959),
 ('positive', 1191),
 ('thank', 36670),
 ('goodmorning', 2540),
 ('thanks', 62337),
 ('thankyou', 4418),
 ('congrats', 3488),
 ('shoutout', 6033)]

In [53]:
positive = [i[0] for i in positive]
negative = [i[0] for i in negative]

In [54]:
positive

['bday',
 'unless',
 'yup',
 'checking',
 'luck',
 'ahah',
 'surprise',
 'aye',
 'good',
 'check',
 '#thoughtsduringschool',
 'beautiful',
 'trend',
 'hahaa',
 'hah',
 'sharing',
 'marry',
 'sure',
 'alll',
 'lls',
 'interested',
 'cool',
 'kay',
 'laugh',
 'ya',
 'hi',
 'selena',
 'lemme',
 'tune',
 'ha',
 'agree',
 'hello',
 'anytime',
 'amazing',
 '#np',
 'loving',
 'yesss',
 'singer',
 'followers',
 'surf',
 'hoes',
 'girlfriend',
 'btw',
 'aha',
 '#teamfollowback',
 'chilling',
 'lets',
 'niggas',
 'fave',
 'jk',
 'relax',
 'trending',
 'funny',
 'freak',
 'yah',
 'weed',
 'alright',
 'ladies',
 'follow',
 'follows',
 'liam',
 'yours',
 'interesting',
 'loves',
 'nice',
 'sometime',
 'mmm',
 'haha',
 'sweet',
 'worry',
 'youu',
 'obviously',
 'youre',
 'gorgeous',
 'ahaha',
 'fantastic',
 'hows',
 'smell',
 'mention',
 'fav',
 'cutest',
 'finally',
 'hun',
 'sounds',
 'bitches',
 'cute',
 'avi',
 'followed',
 'course',
 'conversations',
 'ooh',
 'yeahh',
 'hahaha',
 'umm',
 'info',
 'luv',
 'yall',
 'enjoy',
 'pretty',
 'lips',
 'bless',
 'beliebers',
 'adorable',
 'whoever',
 'yep',
 'kisses',
 'wishes',
 'shall',
 'great',
 'hahah',
 'lots',
 'love',
 'yeahhh',
 'pleasure',
 'sweetie',
 'hoe',
 'pic',
 'oooh',
 'handsome',
 'hilarious',
 'zayn',
 'yess',
 'xx',
 'sexy',
 'yes',
 'worth',
 'heres',
 'enjoying',
 'indeed',
 'xo',
 'lookin',
 'positive',
 'thank',
 'goodmorning',
 'thanks',
 'thankyou',
 'congrats',
 'shoutout']

In [58]:
dic = {}
for el in positive:
    dic[el] = 'happy'
    
for el in negative:
    dic[el] = 'sad'

In [59]:
#pos_df.tweet_as_list = pos_df.tweet_as_list.apply(lambda tweet_list: [dic(word) if word in dic.keys else word for word i])

pos_df.tweets = pos_df.tweets.apply(lambda tweet: " ".join([dic[word] if word in dic.keys() else word for word in tweet.split(" ")]))
                                    
neg_df.tweets = neg_df.tweets.apply(lambda tweet: " ".join([dic[word] if word in dic.keys() else word for word in tweet.split(" ")]))
                                    
test_df.tweets = test_df.tweets.apply(lambda tweet: " ".join([dic[word] if word in dic.keys() else word for word in tweet.split(" ")]))

In [61]:
np.savetxt("Datasets/twitter-datasets/train_pos_full_cleaned.txt", pos_df.values, fmt='%s')
np.savetxt("Datasets/twitter-datasets/train_neg_full_cleaned.txt", neg_df.values, fmt='%s')

In [62]:
pos_df.to_csv("Datasets/twitter-datasets/train_pos_full_cleaned.csv")
neg_df.to_csv("Datasets/twitter-datasets/train_neg_full_cleaned.csv")
test_df.to_csv("Datasets/twitter-datasets/test_data_cleaned.csv")